.home {
	.feed {
	
		.title-row {
		
			h2 {
			
				color: $secondary-color;
				font-weight: $heavy;  
				margin-bottom: 0;
				text-transform: uppercase;
				font-size: rem-calc(20px);
			
			}
			
			h3 {
				
				line-height: 60px;
				font-weight: $heavy;
				
				@include breakpoint(small only) {
					font-size: rem-calc(25px);
					line-height: 30px;
				}
								
			}
			
			h4 {
			
				margin-top: 10px;
			
			}
		
		}
		
		.description {
			
			p {
				
				line-height: rem-calc(20px);
				
			}
			
		}
	
	}
}
