.home {
	.hero { 
			position: relative;
		.hero-slide {			
			padding: rem-calc(100px 0);			
			@include breakpoint(small only) {
				padding: 35px 0;
			}
			
			&.jumbotron {
			    background-attachment: fixed;
			    overflow: hidden;
				position: relative;							
			}
			
			.hero-content {				
				padding: rem-calc(60px 100px);
				max-width: rem-calc(700px);
				
				@include breakpoint(small only) {
					padding: 35px 15px;
				}
			
				h2 {
				 
				 color: $secondary-color;
				 font-weight: $heavy;  
				 margin-bottom: 0;
				  
				}
				
				h3 {
				  
				  color: $theme-white;
				  font-weight: $light;
				  font-size: rem-calc(60px);
				  line-height: rem-calc(60px);
				  margin-bottom: 35px;
				  letter-spacing: 0;
				  
				  @include breakpoint(small only) {
						font-size: rem-calc(35px);
						line-height: rem-calc(40px);
						margin-bottom: rem-calc(20px);
					}
				  
				}
			}
		}

	}
}
