.home .service-icons {
	
	h2 {
		
		color: $secondary-color;
		font-weight: $heavy;  
		margin-bottom: 0;
		text-transform: uppercase;
		font-size: rem-calc(20px);
		
	}
	
	h3 {
		
		@include breakpoint(small only) {
			font-size: rem-calc(25px);
		}
		
	}
	
	h4 {
		
		margin-top: 10px;
		letter-spacing: 2px;
		
		@include breakpoint(small only) {
			font-size: rem-calc(16px);
		}
		
	}
	
	.medium-up-4 {
		
		text-align: center;
		
		&>.column {
			
			float: none; 
			display: inline-table;
			width: 24%;	
			margin-bottom: 25px;
			
			@include breakpoint(small only) {
				width: 49% ;
			}
			
			&:hover {
				
				img {				
					
					filter: grayscale(1);
					-webkit-filter: grayscale(1);
					-moz-filter: grayscale(1);
					-o-filter: grayscale(1);
					-ms-filter: grayscale(1);					
				
				}
				
			}
			
		}

				
	}
	
	.medium-up-3 {
		
		text-align: center;
		
		&>.column {
			
			float: none; 
			display: inline-table;
			width: 28%;
			margin-bottom: 45px;
			padding: 0 4%;
			vertical-align: top;
			
		}

				
	}

}

#services_1 {
	
	.background {
			
		background: none !important
			
	}
		
	
}

#services_2 { 
	
	background: url(../img/why-choose-bkgd.jpg) no-repeat center center;
	background-size: cover;
	
	h3 {
		
		color: $theme-white;
		
	}
	
	p {
		
		font-size: 18px; 
		max-width: 700px;
		margin: 20px auto 0 auto;
		color: $theme-white;
		
	}
	
	h4 {
		
		color: $secondary-color;
		margin: 10px 0 0;
		
	}
	
	.column {
		
		.background {
			
			background: none !important
			
		}
		
		@include breakpoint(small only) {
						
			.text-center {
				
				p {
				
					display: none;
				
				}
				
			}
			
		}
		
		
		p {
			
			font-size: rem-calc(16px);
			margin-top: 5px;
			
		}
		
	}
	
}

#services_3 { 
	
	background: url(../img/solutions.jpg) no-repeat center center;
	background-size: cover;
	
	.medium-up-4 {
		
		.column {	
			
			padding: 20px;
			margin: 0;
			position: relative;
			margin: 0;
			display: table-cell;
			float: left;
			height: 220px;
			background-color: $primary-color;
			width: 25%;
			
			@include breakpoint(medium only) {
				width: 50%;
			    float: left !important;
			}
			
			@include breakpoint(small down) {
				width: 100%;
			    float: left !important;
			}
			
						
			.background {		
				
				width: 100%;
				height: 100%;
				-webkit-filter: grayscale(1); /* Old WebKit */
				filter: grayscale(1);
				opacity: 0.5;				
				position: absolute;
				z-index: 0;
				margin: -20px !important;
				-webkit-transition : -webkit-filter 500ms linear;
				
				.large-12.columns {
					
					display: none;
					
				}
				
								
				
				.image-container {
					
					display: none;
					
				}
				
				img {
					
					display: none;
					
				}
			
			}
			
			.title {
				
				-webkit-filter: grayscale(0) !important; /* Old WebKit */
				filter: grayscale(0) !important;
				opacity: 1 !important;
				margin: 0;			
				background: rgba(72, 86, 99, 0.5);
				border: 2px solid rgba(255, 255, 255, 0.5);
				height: 100%;
				position: relative;
								
				.columns {
					
					height: 100%;
					display: table;
					background: none;
					margin: 0 auto;
					width: 100%;
										
				}
				
				h4 {
					
					display: table-cell;
					vertical-align: middle;
					margin: 0;
					color: $secondary-color;
					font-size: rem-calc(15px);
					
					
				}
				
			}
			
			.last-row {
				
				display: none;
				
			}
			
			&:hover { 
				
				.background {
					
					-webkit-filter: grayscale(0); /* Old WebKit */
					filter: grayscale(0);
					opacity: 1;
					
				}
				
				.title {
					
					h4 { 
					
						color: $theme-white;
										
					}
				}
				
			}
			
		}
		
	}
	
}
