footer {

	#parallax3 {
		
		background-size: cover;
		background-position: center center;
		
		h2 {
			
			color: $secondary-color;
			font-weight: $heavy;  
			margin-bottom: 0;
			text-transform: uppercase;
			font-size: rem-calc(20px);
		
		}
		
		h3 {
			
			line-height: 60px;
			font-size: rem-calc(40px);
			color: $theme-white;
			font-weight: $heavy;
			text-transform: uppercase;
			
			@include breakpoint(small only) {
				font-size: rem-calc(25px);
				line-height: 30px;
			}
			
		}
		
		.large-3 {
			
			h6 { 
				
				font-weight: $bold;
				color: $theme-white;
				margin-bottom: 0;
				text-transform: uppercase;
				
			}
			
			p {
				
				color: $theme-white;
				font-size: rem-calc(14px);
				line-height: rem-calc(16px);
				
			}
			 
			a { 
				
				font-size: rem-calc(14px);
				line-height: rem-calc(16px);
				color: $secondary-color;
				font-weight: $bold;	
				
				&:hover {
					
					color: #FBD45B;
					
				}
				
			}
			
		}
		
		#gform_wrapper_1 { 
			
			margin-top: 30px;
			
		}
		
	}
	.social { 
		
		margin: 20px auto;
		
		ul li:hover:before {
		
			color: $secondary-color;
			
		}
		
	}
	.credits {
		p, a {
			font-size: 15px;
		}
	}
	
	
	#main_menu > li {
	
		letter-spacing: rem-calc(1px);
		
		&:last-child {
			
			a {
				
				padding-right: 15px;
			}
			
		}
	}

}
