.header-message-row {

}

header #logo img {
	
	height: 90px;
	margin-top: -4px;
	
}
.sticky-container {
	z-index: 10000;
}
#main_menu > li {
	
	letter-spacing: rem-calc(1px);
	
	&:last-child {
		
		a {
			
			padding-right: 0;
		}
		
	}
	
	
	.is-dropdown-submenu {
		
		min-width: 300px;
		
		li {
			
			text-transform: uppercase;
									
			&:first-child { 
				
				border-top: none;
				
			}
		}
	}
}

