.button { 
	
	padding: rem-calc(20px 35px) !important;
	font-weight: $heavy !important;
	letter-spacing: rem-calc(1px);
	
}

.banner {
	
	.wrap {
		
		width: 100% !important;
		padding: 0 !important;
		span.page-title {
			letter-spacing: 2px;
		}
		
	}
	
}

.content-container {

	h1{ 
		margin-bottom: 10px;
		letter-spacing: 1px;
	}
	h2 {
	
		line-height: 30px;
		margin-bottom: 10px;
		letter-spacing: 1px;
				
	}	
	
	h3 {
	
		line-height: 30px;
		margin-bottom: 10px;
		letter-spacing: 2px;
				
	}
	
	h4, h5, h6 {
				
		margin-bottom: 6px;
				
	}
	
	p {
		line-height: 1.5em;
	}
	
	blockquote { 
		
		margin-top: 30px;
		border-left: none;
		border-top: 10px solid $secondary-color;		
		
	}
	
	.medium-8 {
		a {
			text-decoration: underline;
		}
		ul:not(.gform_fields){
			
			margin-bottom: 20px;
			
			li {
				
				color: $primary-color;
				
				&:before {
					
					vertical-align: inherit;
					
				}
				
			}
			
		}
	}
	
	.wp-caption {
		
		border: none;
		
		p.wp-caption-text {
			padding: rem-calc(8px);
			font-size: rem-calc(13px);			
			text-align: center;
			font-style: italic;
			color: $theme-grey-light;	
			
		}		
		
	}
	
	.accordion-title {
		
		padding-left: rem-calc(50px) !important;
	
		&::before {
		
			background: $primary-color;
			color: $secondary-color;
			width: 20px;
			text-align: center;
			margin-top: -0.6px;
			
		}		
		
	}
	
	.call-to-action {
		
		padding: rem-calc(20px);
		
		h4 {
		
			color: $secondary-color;
			text-transform: uppercase;
			font-size: rem-calc(18px);	
			
		}
		
		.cta-168 {
			
			img {
				
			    max-width: 277px;		   
			    margin: -20px 0 25px -20px;
		    
		    }
		    
		}
		
	}
	.menu-widget ul li a {
		letter-spacing: .5px;
	}

}

.blog .title-row {
	display: none;
}
