// General Home Page Styles
.home {
	h2 { 
		letter-spacing: 1px;
	}
	h3{
		letter-spacing: 3px;
	}

  
}

// Module-Specific Styles
@import "front-page/blog";
@import "front-page/hero";
@import "front-page/service-icons";
@import "front-page/testimonials";
