.content-container {
	
	ul {
		&.gallery {
			li {
				position: relative;
				list-style: none;
				margin: 0; 
				padding: 0.9375rem;	
				background: none;
				
				&.grid-item {
									
					a {
						display: block;
						position: relative;
						border: none;
						box-shadow: none;						
						background: $theme-white;
						margin-bottom: 0;
						
						.icon-expand {
													
							color: $theme-white;
							opacity: 0;
							font-size: 60px;
							font-weight: 900;
							line-height: 53px;
							left: 35%;
							position: absolute;
							text-align: center;							
							top: 50%;	
							-webkit-backface-visibility: hidden;
							-webkit-transition: margin 0.2s ease-in-out;
							-moz-transition: margin 0.2s ease-in-out;
							-ms-transition: margin 0.2s ease-in-out;
							-o-transition: margin 0.2s ease-in-out;
							transition: margin 0.2s ease-in-out;							
							
							background: $secondary-color;								
							
							
								&:before {
									content: "+";
									display: inline-block;
									width: 50px;
									height: 28px;	
									margin: 5px;
									line-height: 0;
								}																
							
						}
										
						img {
							
							width: 100%;
							position: relative;
							z-index: 1;
							transition: opacity 0.2s ease-in-out;
							
						}
						
						&:hover {
							
							img {
								
								opacity: 0.2;
								
							}
							
							.icon-expand {
								opacity: 1;
								margin-top: -26.5px;																
							}
						}
					}	
				}		
						
				&:before {
					content: "";
					margin-left: 0;
					margin-right: 0;
				}	
								
			}			
								
		}				
	}	
}

.post-type-archive-portfolio {
	.content-container{
		ul.gallery li.grid-item a {
			z-index: 10000;
			.icon-expand {
				font-size: 19px;
				width: 100%;
				padding: 50px 0;
				left: auto;
				opacity: 100%;
				vertical-align: middle;
				top: 35%;
				line-height: 40px;
				text-shadow: 0;	
				background: none;	
				color: $theme-black;	
				&:before{
					content: "";
					width: auto;
					height: auto; 
					margin: 0px;
				}
			}
		}
	}
}


.reveal-overlay {
	
	#galleryModal { 
		
		background: #FFF;
		
		img {
			max-height: 800px;
			width: auto;
			margin: 0 auto !important;
			max-width: 100%;
			display: block;
			
		}
		
		button {
		    color: #FFF;
		    height: 40px;
		    outline: medium none;
		    position: absolute;
		    width: 40px;
		    top: 30px;
		    font-weight: 900;
		    
		    &.prev-button {		
			    top: 30px;	    
			    -webkit-backface-visibility: hidden;
				-webkit-transition: margin 0.2s ease-in-out;
				-moz-transition: margin 0.2s ease-in-out;
				-ms-transition: margin 0.2s ease-in-out;
				-o-transition: margin 0.2s ease-in-out;
				transition: margin 0.2s ease-in-out;
				background: $secondary-color;
			    right: 110px;			    
		    }
		    
		    &.next-button {
			    top: 30px;
			    -webkit-backface-visibility: hidden;
				-webkit-transition: margin 0.2s ease-in-out;
				-moz-transition: margin 0.2s ease-in-out;
				-ms-transition: margin 0.2s ease-in-out;
				-o-transition: margin 0.2s ease-in-out;
				transition: margin 0.2s ease-in-out;												
				background: $secondary-color;
			    right: 65px;			    
		    }
		    
		    i {
		
			    
		    }
		    
		    &.close-button {
			    background: #333333;
			    right: 20px;
			    font-weight: 900;	       
		    }
		}
	}
	
}