.content-container .medium-8 ul.dpArticleShare li {
	
	text-indent: 0;
	
	
	&:before {
		
		content: "";
		padding: 0;
		margin: 0;
		
	}
	
}

.input-group {
		
	.button {
		
		padding: 12px !important;
		
	}
	
}

 
				
.portfolio-thumbs {  
	text-align: center;
	margin: 0;
		li {  
			position: relative;
			height: rem-calc(200px) !important;
			width: rem-calc(270px) !important;
			list-style: none;
			display: inline-block;
			float: none;
			margin-bottom: 20px; 
			
			&:last-child {
				
				float: none !important;				
			}
			
			img { 
				height: rem-calc(200px) !important;
				width: rem-calc(270px) !important;
				
				&:hover {
					
				-webkit-filter: grayscale(1); /* Old WebKit */
				filter: grayscale(1);
				-webkit-transition : -webkit-filter 500ms linear
					
				}	
				
			}
			
		}

	}

