@import 'util/util';

$theme-black: #000000;
$theme-white: #ffffff;
$theme-grey-light: #979797;
$theme-grey-dark: #262F36;

$base-color: $theme-white;
$primary-color: #495966;
$secondary-color: #fac809;

// Font weights
$light: 300;
$regular: normal;
$bold: 700;
$heavy: 900;

// Font-Awesome Font Path
$fa-font-path: "../bower_components/font-awesome/fonts";

// Base Font
$font-family: 'Lato', sans-serif;;  // Used for most text on the site

// Form Styles
$form-text-height: rem-calc(40);
$form-spacing: rem-calc(20);

// Header Variables
$header: (
  height: rem-calc(115),
  minimized-height: rem-calc(75),
  padding: rem-calc(15),
  icons: (
    size: rem-calc(35),
    distance-top: rem-calc(40),
    distance-side: rem-calc(30)
  ),
  message: (
    height: rem-calc(35),
    font: normal normal $heavy rem-calc(24) $font-family,
    color: $primary-color,
    color-hover: $theme-grey-dark
  ),
  menu: (
    height: rem-calc(50),
    offset: rem-calc(-5),
    colors: (
      text: $primary-color,
      text-hover: $theme-grey-light,
      submenu-text: $primary-color,
      submenu-text-hover: $secondary-color,
      submenu-bg: $theme-white,
      submenu-bg-hover: $primary-color,
      border-top: $secondary-color,
      border-between: $theme-grey-dark
    ),
    fonts: (
      text: normal normal $heavy rem-calc(15) $font-family,
      submenu-text: normal normal $heavy rem-calc(15) $font-family
    )
  )
);

// Front Page Variables
$front-page: (
  section-padding: rem-calc(60),
  button-font: normal normal $bold rem-calc(15) $font-family,
  hero: (
    colors: (
      bg: transparentize($primary-color, 0.25),
      subhead: $theme-white,
      heading: $secondary-color,
      button-text: $primary-color,
      button-text-hover: $secondary-color,
      button-bg: $secondary-color,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      subhead: normal normal $bold rem-calc(24) $font-family,
      heading: normal normal $light rem-calc(60) $font-family,
      subhead-size-small: rem-calc(15),
      heading-size-small: rem-calc(40)
    ),
    uppercase: (
      subhead: true,
      heading: true
    )
  ),
  services: (
    background: none,
    colors: (
      header: $primary-color,
      service-header: $primary-color,
      service-header-hover: $theme-grey-light,
      service-content: $primary-color,
      button-text: $primary-color,
      button-text-hover: $secondary-color,
      button-bg: $secondary-color,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      header: normal normal $heavy rem-calc(40) $font-family,
      service-header: normal normal $heavy rem-calc(18) $font-family,
      service-content: normal normal $regular rem-calc(15) $font-family,
      button-text: normal normal $heavy rem-calc(18) $font-family
    ),
    uppercase: (
      header: true,
      service-header: true,
      button-text: true
    )
  ),
  blog: (
    background: $primary-color,
    colors: (
      heading: $theme-white,
      subhead: $theme-white,
      article-title: $primary-color,
      article-title-hover: $secondary-color,
      date: $primary-color,
      excerpt: $primary-color,
      button-text: $primary-color,
      button-text-hover: $secondary-color,
      button-bg: $secondary-color,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      heading: normal normal $heavy rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(40) $font-family,
      article-title: normal normal $bold rem-calc(18) $font-family,
      date: normal normal $regular rem-calc(14) $font-family,
      excerpt: normal normal $regular rem-calc(15) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: true,
      article-title: false,
      date: false
    )
  ),
  testimonials: (
    background: none,
    colors: (
      heading: $theme-black,
      subhead: $theme-black,
      testimonial-text: $theme-black,
      testimonial-name: $theme-grey-dark,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      heading: normal normal $bold rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      testimonial-text: normal normal $regular rem-calc(20) $font-family,
      testimonial-name: normal normal $bold rem-calc(20) $font-family,
      button-text: normal normal $heavy rem-calc(18) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: false,
      testimonial-name: true,
      button-text: true
    )
  )
);
// Interior Page Variables
$interior: (
  colors: (
    page-title: $theme-white,
    breadcrumbs: $secondary-color,
    breadcrumbs-last: $secondary-color,
    toggle-bg: $theme-white,
    toggle-bg-open: $theme-white,
    toggle-header: $primary-color,
    toggle-header-open: $secondary-color,
    toggle-content: $primary-color,
    toggle-border: $theme-grey-light,
    h1: $primary-color,
    h2: $secondary-color,
    h3: $primary-color,
    h4: $primary-color,
    h5: $primary-color,
    h6: $secondary-color,
    p: $primary-color,
    list-bullet: $secondary-color,
    link: $primary-color,
    link-hover: $theme-grey-light,
    blockquote-bg: $primary-color,
    blockquote-text: $theme-white,
    blockquote-border: $secondary-color,
    menu-header: $primary-color,
    menu-links: $primary-color,
    menu-links-hover: $secondary-color,
    menu-border: $theme-grey-light,
    cta-heading: $secondary-color,
    cta-bg: $primary-color,
    cta-text: $theme-white,
    cta-button-text: $primary-color,
    cta-button-text-hover: $secondary-color,
    cta-button-bg: $secondary-color,
    cta-button-bg-hover: $theme-grey-dark
  ),
  fonts: (
    page-title: normal normal $heavy rem-calc(40) $font-family,
    page-title-small-size: rem-calc(30),
    breadcrumbs: normal normal $regular rem-calc(12) $font-family,
    toggle-header: normal normal $bold rem-calc(17) $font-family,
    toggle-content: normal normal $regular rem-calc(15) $font-family,
    h1: normal normal $light rem-calc(48) $font-family,
    h1-small-size: rem-calc(30),
    h2: normal normal $heavy rem-calc(24) $font-family,
    h3: normal normal $heavy rem-calc(24) $font-family,
    h4: normal normal $heavy rem-calc(18) $font-family,
    h5: normal normal $bold rem-calc(15) $font-family,
    h6: normal normal $bold rem-calc(15) $font-family,
    p: normal normal $regular rem-calc(15) $font-family,
    blockquote: normal normal $light rem-calc(24) $font-family,
    menu-header: normal normal $heavy rem-calc(24) $font-family,
    menu-links: normal normal $heavy rem-calc(15) $font-family,
    cta-heading: normal normal $heavy rem-calc(15) $font-family,
    cta-text: normal normal $regular rem-calc(15) $font-family,
    cta-button-text: normal normal $heavy rem-calc(15) $font-family
  ),
  uppercase: (
    page-title: true,
    breadcrumbs: false,
    h1: false,
    h2: true,
    h3: true,
    h4: false,
    h5: true,
    h6: true,
    post-info: true,
    menu-header: true,
    menu-links: true,
    cta-heading: true,
    cta-button-text: true
  ),

  coupons: (
    colors: (
      background: #f6fbf5,
      border: $theme-grey-dark,
      divider: $theme-black
    )
  ),

  page: (
    header-bg: url(../img/page-background.jpg) no-repeat center center,
    header-title-bg: transparentize($theme-grey-dark, 0)
  ),


  single: (
    colors: (
      post-info: $theme-grey-light
    ),
    fonts: (
      post-info: normal normal $bold rem-calc(16) $font-family
    )
  )
);
// Form Variables
$forms: (
  footer: (
    colors: (
      heading: $secondary-color,
      subhead: $theme-white,
      contact-head: $theme-white,
      contact-text: $theme-white,
      textboxes: $theme-white,
      button-text: $primary-color,
      button-text-hover: $secondary-color,
      button-bg: $secondary-color,
      button-bg-hover: $theme-grey-dark,
      link-text: $theme-grey-light,
      link-text-hover: $theme-grey-light
    ),
    fonts: (
      heading: normal normal $heavy rem-calc(20) $font-family,
      subhead: normal normal $heavy rem-calc(40) $font-family,
      contact-head: normal normal $bold rem-calc(16) $font-family,
      contact-text: normal normal $regular rem-calc(15) $font-family,
      textboxes: normal normal $regular rem-calc(14) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family,
    ),
    uppercase: (
      heading: true,
      subhead: true,
      contact-head: true,
      contact-text: false,
      textboxes: false,
      button-text: true
    )
  )
);

// Footer Variables
$footer: (
  menu-height: rem-calc(50),
  colors: (
    bg: $theme-white,
    menu: $primary-color,
    menu-hover: $theme-grey-light,
    credits: $primary-color,
    credits-link: $theme-grey-light,
    credits-link-hover: $theme-grey-light,
    social-bg: $primary-color,
    social-bg-hover: $primary-color,
    social-icon: $theme-white,
    social-icon-hover: $secondary-color
  ),
  fonts: (
    menu: normal normal $heavy rem-calc(15) $font-family,
    credits: normal normal $bold rem-calc(14) $font-family
  ),
  uppercase: (
    menu: true
  )
);
