.service-icons {

  .column {
    @include breakpoint(small down) {
      margin-bottom: map-get($front-page, section-padding);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  background: map-deep-get($front-page, services, background);

  .image-container {
    height: 100%;
    display: block;
    white-space: nowrap;
    text-align: center;
  }

  .image-container:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .image-container img {
    vertical-align: middle;
    width: auto;
    height: auto;
  }


  .title-row {
    text-align: center;
    margin-bottom: rem-calc(50);
    h3 {
      font: map-deep-get($front-page, services, fonts, header);
      color: map-deep-get($front-page, services, colors, header);
      @include uppercase(map-deep-get($front-page, services, uppercase, header));
      margin: 0;
    }
  }
  h4 {
    font: map-deep-get($front-page, services, fonts, service-header);
    color: map-deep-get($front-page, services, colors, service-header);
    @include uppercase(map-deep-get($front-page, services, uppercase, service-header));
    margin: rem-calc(30 0);
  }

  a:hover h4 {
    color: map-deep-get($front-page, services, colors, service-header-hover);
  }

  p {
    font: map-deep-get($front-page, services, fonts, service-content);
    color: map-deep-get($front-page, services, colors, service-content);
  }

  .button {
    margin-top: map-deep-get($front-page, section-padding);
    font: map-deep-get($front-page, services, fonts, button-text);
    color: map-deep-get($front-page, services, colors, button-text);
    background-color: map-deep-get($front-page, services, colors, button-bg);
    @include uppercase(map-deep-get($front-page, services, uppercase, button-text));
    &:hover {
      color: map-deep-get($front-page, services, colors, button-text-hover);
      background-color: map-deep-get($front-page, services, colors, button-bg-hover);
    }
  }
}
