.home {
  .testimonial_container {
    background: map-deep-get($front-page, testimonials, background);
    text-align: center;
    h2 {
      font: map-deep-get($front-page, testimonials, fonts, heading);
      color: map-deep-get($front-page, testimonials, colors, heading);
      @include uppercase(map-deep-get($front-page, testimonials, uppercase, heading));
      text-align: center;
      margin: 0;
    }

    h3 {
      font: map-deep-get($front-page, testimonials, fonts, subhead);
      color: map-deep-get($front-page, testimonials, colors, subhead);
      @include uppercase(map-deep-get($front-page, testimonials, uppercase, subhead));
      text-align: center;
      margin: 0;
    }

    img {
      margin: 0 auto rem-calc(50);
    }

    .name ~ br {
      display: none;
    }

    p {
      font: map-deep-get($front-page, testimonials, fonts, testimonial-text);
      color: map-deep-get($front-page, testimonials, colors, testimonial-text);
      @include uppercase(map-deep-get($front-page, testimonials, uppercase, testimonial-text));
    }

    .name, .location {
      font: map-deep-get($front-page, testimonials, fonts, testimonial-name);
      color: map-deep-get($front-page, testimonials, colors, testimonial-name);
      @include uppercase(map-deep-get($front-page, testimonials, uppercase, testimonial-name));
      display: block;
    }

    .name {
      margin-top: rem-calc(30);
    }

    .testimonial_slider {
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(30);
    }

    .button {
      margin: 0;
      font: map-deep-get($front-page, testimonials, fonts, button-text);
      color: map-deep-get($front-page, testimonials, colors, button-text);
      background-color: map-deep-get($front-page, testimonials, colors, button-bg);
      @include uppercase(map-deep-get($front-page, testimonials, uppercase, button-text));
      &:hover {
        color: map-deep-get($front-page, testimonials, colors, button-text-hover);
        background-color: map-deep-get($front-page, testimonials, colors, button-bg-hover);
      }
    }

    .testimonial_slider {
      .orbit-slide {
        max-height: none !important; // Fixes odd height issue with orbit plugin
      }
      p {
        max-width: rem-calc(560);
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
