/*-----------------------------------*/
/* Shortcodes Styles
/*-----------------------------------*/

/* Columns */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth { margin-right: 8%; float: left; line-height: 21px; margin-bottom: 20px; }
.one_half { width: 46%; }
.one_third { width: 30.6666%; }
.two_third { width: 65.3332%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.last { margin-right: 0 !important; clear: right; }
.clearboth{ clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

/* Dropcap */
.dropcap { font-size:32px; margin-right:6px; padding-top:4px; text-transform: uppercase; float: left; position: relative; top: 5px; color:#888; }

/** Highlight **/
.highlight1 { background:#f6f67a; }
.highlight2 { background:#000; color:#CCC; }

/* Video */
.video-shortcode { margin-bottom:20px; }

/* Message Boxes */

/* start notification boxes */
.box-information, .box-confirmation, .box-warning, .box-error {	float: left; padding: 16px 20px 16px 70px; margin-top: 18px; min-height: 36px; height: auto !important; height: 36px; line-height: 19px; clear: both; }
.box-information p, .box-confirmation p, .box-warning p, .box-error p {	padding: 6px 0 6px 0; }
.box-information a, .box-confirmation a, .box-warning a, .box-error a {	text-decoration: underline; }

/* Tabs */


ul.tabs {  float: left; height: 41px; width: 100%; padding: 0; margin: 0 !important; }
	ul.tabs li { background: none !important; float: left; border: 1px solid #8f8f8f; margin: 8px 0px 0px 3px !important; padding: 0; overflow: hidden; position: relative; bottom: -4px; background:#ebebeb url(images/tab-bg.png) repeat-x; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius: 5px 5px 0 0; }
		ul.tabs li a { height: 28px; line-height: 30px; text-decoration:none; font-size:18px; color: #777; display: block; padding: 0 10px; outline: none; text-shadow: 1px 1px 1px #FFF; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius: 5px 5px 0 0; }
			ul.tabs li a:hover { background: #FFF !important; }
			html ul.tabs li.active a { color: #60BB48; }
			html ul.tabs li.active, html ul.tabs li.active a:hover  { background: #fff !important; border-bottom: 1px solid #fff; border: 1px solid #60bb48; border-bottom: none; bottom: -5px; }
.tabs_container { border-top: none; overflow: hidden; clear: both; float: left; width: auto; background: #fff; clear: both; border-top: 1px solid #60bb48; border-left: 1px solid #60bb48; border-bottom: 1px solid #60bb48; border-right: 1px solid #60bb48; margin: 0 0 0 3px; border-radius: 0 8px 8px 8px; }
	.tab_content { padding: 25px 14px 0 14px; }
	.post-entry .tabs_container { width: 100%; }

	.tab-content{padding:16px 16px 0 16px; overflow:hidden; }
	.tabs-wrapper { overflow: hidden; width: 100%; }
	.tabs-wrapper .tab-content { border:1px solid #d7d7d7; border-width:0 1px 1px 1px; }


/* Toggles */
/*
h5.toggle { margin: 0px !important; font-size: 18px; text-align: left; padding: 10px; padding-left: 30px; background-image: url(images/toggle-plus.png); background-position: 10px center; background-repeat: no-repeat; }
h5.toggle a { color: #333; text-decoration: none; display: block; }
h5.toggle a:hover { color: #A25232; text-decoration: underline; }
h5.active { background-image: url(images/toggle-minus.png); background-position: 10px center; background-repeat: no-repeat; }
.toggle_container { overflow: hidden; padding: 20px 10px; }
.toggle-content { display: none; margin-bottom:16px; }
.toggle-content .block { line-height: 22px; padding: 0 0 18px 0; }
*/

/* Checklist */
.checklist li { background:url(images/check-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }

/* Badlist */
.badlist li { background:url(images/bad-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }

/* Buttons */
/*
.button { padding: 10px; display: inline-block; margin: 0 10px 20px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor:pointer; line-height: 15px; }
.button:hover { opacity: .9; }
.button a { color:#FFF; }
.button.black { background: #000; }
.button.red { background: #D0382A; }
.button.green { background: #7CC1AC; }
.button.blue { background: #00ADEF; }
.button.orange { background: #F0AA28; }
.button.light { background: #EFEFEF; }
.button.light a { color: #77777B; }
*/

/* ----------------- notification boxes ----------------- */

.greenbox {	border:1px solid #cbe2ab; background:#eefcda url(images/tick_32.png) no-repeat 20px 22px; }
.greenbox, .greenbox a { color:#6a8829; }

.bluebox { border:1px solid #bad4f6; background:#e7f5ff url(images/info_32.png) no-repeat 20px 22px; }
.bluebox, .bluebox a { color:#3c64a6; }

.yellowbox { border:1px solid #f5d788; background:#fff4d0 url(images/warning_32.png) no-repeat 20px 22px; }
.yellowbox, .yellowbox a { color:#c57f11; }

.redbox { border:1px solid #fab1b1; background:#ffe8e8 url(images/delete_32.png) no-repeat 20px 22px; }
.redbox, .redbox a { color:#bb1010; }

/* ----------------- message box types ----------------- */

.box-information { border:1px solid #bad4f6; background:#e7f5ff url(images/info_32.png) no-repeat 20px 18px; }
.box-information, .box-information a { color:#3c64a6; }

.box-confirmation {	border:1px solid #cbe2ab; background:#eefcda url(images/tick_32.png) no-repeat 20px 18px; }
.box-confirmation, .box-confirmation a { color:#6a8829; }

.box-warning { border:1px solid #f5d788; background:#fff4d0 url(images/warning_32.png) no-repeat 20px 18px; }
.box-warning, .box-warning a { color:#c57f11; }

.box-error { border:1px solid #fab1b1; background:#ffe8e8 url(images/delete_32.png) no-repeat 20px 18px; }
.box-error, .box-error a { color:#bb1010; }

/* ----------------- blockquote and pullquotes styles ----------------- */

.line {	border-top:1px solid #e4e4e4; clear: both; }
.thick-line { border-top:6px solid #e4e4e4; clear: both; }