// General Home Page Styles
.home {
  p {
    padding: 0;
    margin: 0;
  }

  section {
    padding: map-get($front-page, section-padding) 0;
  }

  .button {
    font: map-get($front-page, button-font);
    text-transform: uppercase;
  }
}

// Module-Specific Styles
@import "front-page/blog";
@import "front-page/hero";
@import "front-page/service-icons";
@import "front-page/testimonials";
