//
//
// .single-products {
//   .content-container img.size-full {
//     width: 100%;
//   }
//   .menu-widget {
//     background-color: $primary-color;
//     color: $base-color;
//     padding: rem-calc(45);
//     h3, a {
//       color: $base-color;
//       &:hover {
//         color: $base-color;
//       }
//     }
//
//     h3 a {
//       font-size: rem-calc(18);
//     }
//
//     a {
//       font-family: $secondary-font;
//       font-size: rem-calc(17);
//       font-weight: $bold;
//       text-decoration: none;
//       width: 100%;
//       border-bottom: 1px solid $base-color;
//       display: block;
//       margin-bottom: rem-calc(5);
//       &:hover {
//         text-decoration: none;
//       }
//     }
//
//     .link-description {
//       display: block;
//       text-transform: none;
//       font-size: rem-calc(17);
//       font-weight: $bold;
//     }
//
//     li {
//       padding: 0;
//       margin-top: rem-calc(25);
//     }
//   }
// }
//
// .post-type-archive-products {
//   h4:hover {
//     color: $secondary-color;
//   }
//   .button {
//     margin-top: rem-calc(30);
//     font-size: rem-calc(20);
//     font-weight: $bold;
//     text-transform: uppercase;
//     &:hover {
//       text-decoration: none;
//       color: $base-color;
//     }
//   }
// }
